[Unit]
Description=Live Audio Spectrogram Service
After=network.target

[Service]
Type=simple
User=user
Group=audio
WorkingDirectory=/home/spectro/app
Environment=PATH=/home/spectro/venv/bin:/usr/local/bin:/usr/bin:/bin
Environment=PYTHONPATH=/home/spectro/app
Environment=VIRTUAL_ENV=/home/spectro/venv
Environment=HOME=/home/user
ExecStart=/home/spectro/venv/bin/python -m gunicorn --bind 0.0.0.0:5000 app:app --access-logfile /var/log/spectrogram/access.log --error-logfile /var/log/spectrogram/error.log
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target